<a href="https://colab.research.google.com/github/ummaayyy/Tugas-pekan-13/blob/main/pekan13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,101,1):
  print(i, end= ' ' )

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(1,5,1):
  print(i, end= ' ' )

1 2 3 4

In [ ]:
for i in range(1,6,2):
  print(i, end= ' ' )

1 3 5

In [ ]:
for i in range(1,101,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
awal = int(input('Set Nilai Awal = '))
akhir = int(input('Set Nilai Akhir = '))

count = 0
summ = 0

print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range (awal, akhir+1) :
  print (i, end=' ')
  count = count+1
  summ = summ+i

print('Bilangan di atas ada %d bilangan' %count)
print('Jumlah semua bilangan adalah %d' %summ)

Set Nilai Awal = 15
Set Nilai Akhir = 20
Bilangan antara 15 dan 20
15 16 17 18 19 20 Bilangan di atas ada 6 bilangan
Jumlah semua bilangan adalah 105

In [ ]:
awal = int(input('Set Nilai Awal = '))
akhir = int(input('Set Nilai Akhir = '))

times = 1

for i in range (awal, akhir+1, 3) :
  print (i, end=' ')
  count = count+1
  times = times*i

print('Hasil perkalian seluruh bilangan adalah %d' %times)

Set Nilai Awal = 15
Set Nilai Akhir = 20
15 18 Hasil perkalian seluruh bilangan adalah 270

In [ ]:
for x in range(1,3):
    for y in range(1,3):
        print(x,y, x*y)

1 1 1
1 2 2
2 1 2
2 2 4

In [ ]:
for x in range(2,5):
    for y in range(2,5):
        print(x,y, x*y)

2 2 4
2 3 6
2 4 8
3 2 6
3 3 9
3 4 12
4 2 8
4 3 12
4 4 16

In [ ]:
banyakMhs = int(input('Banyak Mahasiswa : '))
for M in range (banyakMhs):
    print('Mahasiswa ke-', M+1)
    banyakMK = int(input('Banyak Matakuliah yang diambil : '))
    totalnilai = 0
    for N in range (banyakMK):
        nilai = int(input('Input Nilai ke %d :' %(N+1)))
        totalnilai = totalnilai+nilai
    rerata = totalnilai/banyakMK
    print('Rata-Rata : ', rerata)

Banyak Mahasiswa : 3
Mahasiswa ke- 1
Banyak Matakuliah yang diambil : 4
Input Nilai ke 1 :88
Input Nilai ke 2 :80
Input Nilai ke 3 :90
Input Nilai ke 4 :85
Rata-Rata :  85.75
Mahasiswa ke- 2
Banyak Matakuliah yang diambil : 3
Input Nilai ke 1 :90
Input Nilai ke 2 :89
Input Nilai ke 3 :91
Rata-Rata :  90.0
Mahasiswa ke- 3
Banyak Matakuliah yang diambil : 2
Input Nilai ke 1 :93
Input Nilai ke 2 :88
Rata-Rata :  90.5

In [ ]:
for i in [12,16,17,24,29]:
  if i % 2 == 1: #jikabilanganganjil
    break #
  print(i)
print("selesai")

12
16
selesai