<a href="https://colab.research.google.com/github/ummaayyy/Tugas-pekan-13/blob/main/Pekan13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Ummi Hajar

Nim  : H051211019

Algoritma dan Pemrograman Statistika A

**Penjumlahan matriks**

In [ ]:
MatA = [
    [4, 6, 5],
    [3, 0, 0]
]
MatB =  [
    [3, 9, 7],
    [3, 1, 5]
]
for x in range(0, len(MatA)):
    for y in range (0, len(MatA[0])):
        print (MatA[x][y] + MatB[x][y], end=' '),
    print ()

7 15 12
6 1 5

**Nomor 1**

In [49]:
print(" ---Abon Umi---")

harga = int(input("masukkan harga barang: "))
jumlah = int(input("masukkan jumlah barang yang dibeli: "))
Total = harga*jumlah
print("Total Harga = ", "Rp.", Total)
Bayar = int(input("Jumlah Nominal Uang =" ))
Kembalian = (Bayar-Total)
print("Uang Kembalian = ", "Rp.", Kembalian)

 ---Abon Umi---
masukkan harga barang: 15000
masukkan jumlah barang yang dibeli: 4
Total Harga =  Rp. 60000
Jumlah Nominal Uang =100000
Uang Kembalian =  Rp. 40000

In [ ]:
nama_brg = input("nama barang = ")
harga_satuan = eval(input(("harga barang = ")))
jum_brg = eval(input(("jumlah barang = ")))
total_hrg_brg = 0.0
harga_beli = jum_brg * harga_satuan
total_hrg_brg = harga_beli + total_hrg_brg
print("Total Harga yang dibayar Rp", total_hrg_brg)

nama barang = abon
harga barang = 15000
jumlah barang = 4
Total Harga yang dibayar Rp 60000.0

**Nomor 2**

In [ ]:
count = 0
countt = 0
for i in [1,5,2,7,4,3,15] :
  if i%2 == 0 :
    count = count + 1
  else :
    countt = countt + 1
print('Banyak bilangan genap adalah %d bilangan' %count)
print('Banyak bilangan ganjil adalah %d bilangan' %countt)

Banyak bilangan genap adalah 2 bilangan
Banyak bilangan ganjil adalah 5 bilangan

**Nomor 3**

In [ ]:
i = 12  #dimulai dari angka 12
while i < 100:  #angka yang tercetak tidak melebihi 100
  print(i)  #menjalankan sintaks
  i = i + 3  #perulangan dari angka 12+3 seterusnya, sampai pada angka yang kurang dari 100

12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
for i in range (12,100,3):  #perulangan dimulai dari angka 12 sampai kurang dari 100 dengan kelipatan sebanyak 3
  print(i, end= ' ' )

12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

**Nomor 4**

In [ ]:
l = ''
for i in range (1,6):
  l += str(i)+''
  print(l)

1
12
123
1234
12345

**Nomor 5**

In [50]:
from prettytable import PrettyTable
laporan_nilai = PrettyTable(["No.", "Nama Mhs", "N.Tugas", "N.Kuis", "N.UTS", "N.UAS", "NilaiAkhir"])
laporan_nilai.add_row(["1", " ", " ", " ", " ", " ", " "])
laporan_nilai.add_row(["2", " ", " ", " ", " ", " ", " "])
laporan_nilai.add_row(["..", " ", " ", " ", " ", " ", " "])
laporan_nilai.add_row(["N", " ", " ", " ", " ", " ", " "])
print(laporan_nilai)

+-----+----------+---------+--------+-------+-------+------------+
| No. | Nama Mhs | N.Tugas | N.Kuis | N.UTS | N.UAS | NilaiAkhir |
+-----+----------+---------+--------+-------+-------+------------+
|  1  |          |         |        |       |       |            |
|  2  |          |         |        |       |       |            |
|  .. |          |         |        |       |       |            |
|  N  |          |         |        |       |       |            |
+-----+----------+---------+--------+-------+-------+------------+